<div style="margin-top: 30px;width: 90%;margin-left: 5%;margin-right: 5%;">
    <p-table [value]="listVehicles">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vehicle>
            <tr>
                <td>{{vehicle.idVehicle}}</td>
                <td><a [routerLink]="['/vehicle',vehicle.idVehicle]">{{vehicle.name}}</a></td>
                <td>{{vehicle.type}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>