<div style="margin-left: 10%;margin-right: 10%;margin-top: 30px;">
<p-card title="{{vehicle.name}}" subtitle="{{vehicle.type}}" [style]="" styleClass="ui-card-shadow" >
    <p-header>
    </p-header>
    <div>{{vehicle.description}}</div>
    <div style="margin-top:30px;margin-right:10%;margin-left:10%"><img style="width:100%;height:100%;object-fit: cover;" src="data:image/jpeg;base64,{{vehicle.photo}}"/></div>
    <p-footer>
        <button pButton type="button" label="Go back" icon="" style="margin-right: .25em" 
        [routerLink]="['/vehicles/all']"></button>
    </p-footer>
</p-card>
</div>